<form action="/lists" method="post">
  <label for="name">Enter a Task:</label><br>
  <input name="name" type="text" required>
  <button type="submit" class="btn btn-primary">Add List</button>
</form>
